.bodypart1 {
  display: flex;
  height: 500px;
  justify-content: space-around;
}

.bodypart1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bodypart1-left > button {
  width: 80px;
  height: 24px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 10px 10px 0px #000000;
  border-radius: 6px;
  cursor: pointer;
}

.bodypart1-right > img {
  max-width: 100%;
}
