.bodypart2 {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px;
}

.bodypart2-top > img {
  max-width: 100%;
}

.bodypart2-center > img {
  max-width: 100%;
}

.bodypart2-bottom > img {
  max-width: 100%;
}
