.userinfo {
    width: 100%;
    height: 100%;
    margin-top: 59px;
    align-items: center;
    margin-bottom: 70px;
}

.userinfo > h3 {
    margin-left: 100px;
}

.userinfo-albumh3 {
  margin-top: 50px;
}

.user-info {
    width: 100%;
    height: 100%;
}

.user-ifoData{
    width: 300px;
    margin-left: 100px;
    
}

.userinfo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}