.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color:blue;
  color: #eaeef1;
}

.header > h3 {
  margin-right: auto;
  margin-left: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.header-right > button {
  margin-right: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  color: #eaeef1;
  background-color: blue;
}

.header-avatar {
  cursor: pointer;
}

.headerright-signout {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.headerright-signout > button {
  margin-right: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  color: white;
  background-color: blue;
}
